body {
	@include container();
	padding: 3em 0 0;
	overflow-x: hidden;
}

header {
	text-align: center;
	margin: 0 0 6em;
}

footer {
	margin: 6em 0 0;
	padding: 1em 0;
	text-align: center;
	font-size: 80%;

	a {
		font-weight: 400;
	}
}

#mofos {
	@include reset-list();

	figure {
		width: 50%;
		position: absolute;
		opacity: 0;
		visibility: hidden;
		transition: all 250ms ease-out;
		z-index: -1;

		img {
			display: block;
			position: relative;
			z-index: 2;
			width: 100%;
			height: auto;
			mix-blend-mode: multiply;
			filter: grayscale(70%);
			opacity: 0.45;
		}

		.fig-bg {
			background: $bg-color;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
		}
	}

	li {
		border-bottom: 1px solid white;
		border-top: 1px solid white;
		padding: 2em 1em;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:hover {
			figure {
				opacity: 1;
				visibility: visible;
			}
		}
	}


	.name {
		width: 60%;
	}

	.movie {
		text-align: right;
	}
}